@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


$cmr-gray: #4E535A;
$cmr-light-gray: #A5AAAF;
$cmr-lighter-gray: #EEEEEE;
$cmr-yellow: #F7AA00;
$cmr-fuchsia: #C22B7D;
$cmr-purple: #92278F;
$cmr-blue: #1D70B7;
$cmr-white:#FFF;

$cmr-primary: $cmr-purple;


$colors: (
  cmr-gray: $cmr-gray,
  cmr-light-gray: $cmr-light-gray,
  cmr-lighter-gray: $cmr-lighter-gray,
  cmr-yellow: $cmr-yellow,
  cmr-fuchsia: $cmr-fuchsia,
  cmr-purple: $cmr-purple,
  cmr-blue: $cmr-blue,
  cmr-white:$cmr-white,
  cmr-primary: $cmr-primary,
);

@each $colorName, $color in $colors {
  .bg--#{$colorName} {
    background-color: $color;
  }
  .text--#{$colorName} {
    color: $color !important;
  }
}

$font-montserrat: 'Montserrat', sans-serif;

.font-montserrat {
  font-family: $font-montserrat !important;
}

.logo{
    max-width: 100px;
}