.footer {
    background: $sentidos-black;
    color: $sentidos-white !important;
    //font
    display: flex;
    justify-content: center;
    padding: 10px 20px !important;
  
    &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      width: 100%;
    }
  
    &__logo {
      margin-top: 25px;
      width: 100px;
    }
  
  
    &__information {
      margin-top: 45px;
      display: flex;
      flex-direction: column;
  
      .footer__location {
  
        &-title {
          color: $sentidos-white;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 5px;
        }
  
        &-address {
          font-size: 12px;
          font-weight: 400;
          margin-bottom: 0px;
        }
  
        &-phone {
          font-size: 12px;
          font-weight: 400;
        }
  
        &-icon {
          color: $sentidos-white !important;
          margin-right: 10px;
        }
      }
    }
  
    &__social-media {
      margin: 30px 0;
  
      a {
        margin-right: 10px;
      }
    }
  
    &__copyright {
      border-top: .5px solid $sentidos-white;
      padding: 15px 0;
      font-size: 12px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      
  
      p {
        img {
          height: 12px;
        }
      }
    }
  }
  
  @media screen and (min-width:600px) {
    .footer {
      &__information {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
  
  @media screen and (min-width:900px) {
  
    .footer {
      &__container {
        max-width: 1366px;
      }
  
      &__information {
          margin-bottom: 30px;
        .footer__location {
          &-title {
            font-size: 16px;
            font-weight: 600;
          }
  
          &-address {
            font-size: 14px;
          }
  
          &-phone {
            font-size: 14px;
          }
        }
      }
  
  
      &__copyright {
        font-size: 14px;
        padding: 20px 0;
        
  
        p {
            margin: 0;
          img {
            height: 14px;
          }
        }
      }
    }
  }