
.homeView{
    font-family: $font-merriweather;



}

.reserva-section{


    &__btn{
        height: 60px !important;
        font-size: 18px !important;
        font-weight: 700 !important;
        text-transform: uppercase;
        color: $sentidos-white !important;
        background-color: $sentidos-gold !important;
    }
}


