.homeView {
    font-family: $font-merriweather;



}

.reserva-section {


    &__btn {
        height: 60px !important;
        font-size: 18px !important;
        font-weight: 700 !important;
        text-transform: uppercase;
        color: $sentidos-white !important;
        background-color: $sentidos-gold !important;
    }
}

.comentario {
    background-color: $sentidos-black;

    &__comentario {
        color: white;
        font-size: 18px;
    }

    &__image {
        max-width: 300px;
    }

    @media screen and (min-width:768px) {
        &__comentario {
            color: white;
            font-size: 28px;
            max-width: 600px;
        }
    
        &__image {
            max-width: 300px;
        }
    }
}

